@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mulish", sans-serif;
    margin: 0;
    line-height: 1.5;
}


p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.5;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

button,
textarea,
input[type=text],
input[type=submit] {
    font-family: "Noto Sans", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.py-3 {
    padding: 30px 0;
}

.py-5 {
    padding: 50px 0;
}

.pb-5 {
    padding-bottom: 50px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-4 {
    padding-bottom: 40px;
}


.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 35px;
}




/* Global CSS End */


/*Header CSS Start */
.logo img {
    text-align: center;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.main-navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}


.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.main-navbar ul li a {
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
    color: #fff;
    transition: 0.5s all ease-in-out;
    border-bottom: solid 1px transparent;
    font-size: 15px;
}

.main-navbar ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #FFBB35;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
}

.main-navbar ul li a:hover:after,
.main-navbar ul li a.active:after {
    transform: scaleX(1);
}

.contact-us-btn {
    color: #000;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
    position: relative;
    border-radius: 30px;
    background-color: #FFBB35;
    padding: 15px 30px;
}

.contact-us-btn:hover {
    background-color: #fff;
    color: #FFBB35;
    transform: translateY(-3px);
}

.phone {
    margin-right: 20px;
    vertical-align: middle;
}

.close-icon {
    display: none;
}

.menu-icon {
    display: none;
    color: #FFBB35;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
}

.butn {
    display: inline-block;
    padding: 15px 35px;
    font-size: 16px;
    outline: none;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    line-height: 20px;
}

.desktop-hide {
    display: none !important;
}



/* Header CSS End */

/* Section Heading CSS Start */
h2.section-heading {
    font-size: 55px;
    line-height: 1.5;
    color: #FFBB35;
    margin: 0 auto;
    text-align: center;
}

/* Section Heading CSS End */

/* Banner Section CSS Start */
.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner-image {
    height: 550px;
    width: 100%;
}
.sub-pages-banner-image {
    height: 450px;
}


.banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/65%);
    background-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    overflow: hidden;
}

.sub-pages-banner-text h1 {
    font-size: 55px;
}

.banner-text h3 {
    font-size: 25px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    overflow: hidden;

}

/* Banner Section  CSS End */

/* Home Page Intro CSS Start */

.pages-intro-text-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    overflow: hidden;
}

.pages-intro-text-wrapper p {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

/* Home Page Intro CSS End */

/* Home Page Sign Up Section Start */
.home-page-signup-section {
    background-image: url("../images/home-signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0 0 0/50%);
    background-blend-mode: multiply;
}


.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: #fff 0px 4px 8px;
    padding: 20px;
    border-radius: 10px;
}

.form-image {
    width: 40%;
    overflow: hidden;
}

.form-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.form-container {
    width: 60%;
    padding: 20px;
    background-image: url("../images/form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0 0 0/50%);
    background-blend-mode: multiply;
}

.form-wrapper {
    height: 100%;
    width: 100%;
}

.home-signup-wrapper h3 {
    color: #fff;
    font-size: 30px;
    max-width: 850px;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.form-section h2 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #FFBB35;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #fff;
}

button {
    padding: 10px;
    background-color: #FFBB35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    width: 30%;
}

button:hover {
    background-color: #fff;
    color: #FFBB35;
    transform: translateY(-1px);
}

.form-container p {
    color: #fff;
    margin-top: 10px;
}

.form-container p a {
    color: #FFBB35;
    margin-top: 10px;
    transition: 0.4s all ease-in-out;
}

.form-container p a:hover {
    color: red;
    transform: translateX(2px);
}

.login-icon,
.submit-icon {
    font-size: 16px;
    margin-left: 7px;
}

/* Home Page Sign Up Section End */

/* Home Featured Cards CSS Start */

.home-featured-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-featured-cards {
    width: 32%;
    box-shadow: #FFBB35 0px 4px 8px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.4s all ease-in-out;
}

.home-featured-cards:hover {
    transform: translateY(-5px);
    box-shadow: #Fff 0px 4px 8px;
}

.home-featured-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.home-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4 all ease-in-out;
}

.home-featured-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0 0 0/65%);
    background-blend-mode: multiply;
}

.home-featured-text a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home-featured-text a h3 {
    color: #fff;
    font-size: 27px;
}

.home-advantage-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home-advantage-cards {
    width: 32%;
    padding: 40px 10px;
    background-color: #FFBB35;
    background-image: linear-gradient(to left, transparent, transparent 50%, #FFf 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .3s ease-in;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    min-height: 200px;
    position: relative;
}

img.next-page-image {
    height: 30px;
    width: 30px;
}

.target-page {
    position: absolute;
    top: 10px;
    right: 20px;
}

.home-advantage-cards:hover {
    background-position: 0 0;
    box-shadow: #FFBB35 0px 6px 15px;
    transform: translateY(-5px);
}

.home-advantage-icons {
    margin-bottom: 15px;
}

.home-advantage-content p {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

.home-advantage-cards-wrapper>p {
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
}

.home-advantage-icons img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
}

/* Home Featured Cards CSS End*/

/* Home Image Gallery CSS Start */
.home-images-gallery-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 0.3s all ease-in-out;
}

.home-images-gallery-wrapper:hover img {
    filter: blur(5px);
}

.home-gallery-images {
    width: 32%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
}

.home-gallery-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fff;
    transition: 0.5s all ease-in-out;
    transition: all 0.3s ease;
    filter: blur(0);
}

.home-gallery-images:first-child,
.home-gallery-images:last-child {
    width: 100%;
}

.home-gallery-images img:hover {
    transform: scale(1.1);
    filter: blur(0);
}

/* Home Image Gallery CSS End */

/* Home Contact Us Form CSS Start */
.contact-form-section {
    background-image: url("../images/contact-form-section-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
    isolation: isolate;
}

form.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.formbold-form-input:focus {
    border-color: #FFBB35;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #FFBB35;
    color: #000;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s all ease-in;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

/* Home Contact Us Form CSS End */

/* Discalimer CSS Start */

.disclaimer {
    background-image: url("../images/disclaimer-bg.png");
    background-repeat: no-repeat;
    background-color: rgb(0 0 0/50%);
    background-blend-mode: multiply;
    background-size: cover;
}

.disclaimer-wrapper h3 {
    color: #FFBB35;
    font-size: 30px;
}

.disclaimer-wrapper {
    padding: 0 15px;
}

.disclaimer-wrapper p {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.7;
}

.disclaimer-wrapper p a {
    color: #FFBB35;
    transition: 0.3s all ease-in-out;
}

.disclaimer-wrapper p a:hover {
    color: rgb(255 0 0);
    transform: translateX(3px);
}

span.heading-like {
    font-weight: 700;
    color: #FFBB35;
    margin-right: 5px;
}

/* Discalimer CSS End */



/* Footer CSS Start */
.footer {
    width: 100%;
    background-image: url("../images/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
}

.logo-bottom img {
    width: 100%;
    max-width: 300px;
}

.logo-bottom a {
    width: 100%;
}

.footer-items {
    width: 30%;
}

.footer-items h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
    color: #FFBB35;
}

.footer-links h3 {
    text-align: left;
}

.footer-items .social-icons {
    width: 100%;
    margin: 15px auto;
}


.footer-items ul li a {
    padding: 3px 0;
}

.footer .footer-items ul li a {
    transition: 0.6s all ease;
    font-size: 17px;
    position: relative;
    color: #fff;
}

.footer .footer-items ul li a:hover {
    color: #FFBB35;
}


.footer .footer-items ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #FFBB35;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
}

.footer-items ul li a:hover:after {
    width: 100%;
}

.footer .footer-items ul li a:hover {
    transform: translateX(3px);
}

.footer-icons {
    min-width: 20px;
    margin-right: 6px;
}

.footer-arrow {
    margin-right: 7px;
}

.copyright {
    padding: 15px 0;
    text-align: center;
    margin: auto 0;
    border-top: 1px solid #FFBB35;
}

.copyright p {
    color: #fff;
    text-align: center;
}

.ssl-certificate img {
    max-width: 150px;
}

/* Footer CSS End */

/* Social Icons CSS Start */
.social-icons {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

}

.social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #FFBB35;
    color: #000;
    line-height: normal;
    margin: 0 5px;
    transition: 0.3s all ease-in-out;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.social-icons i:hover {
    transform: translateY(-2px);
    color: #fff;
}

.social-icons i.facebook:hover {
    background-color: #116af9;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.twitter:hover {
    background-color: #000;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.instagram:hover {
    background-color: #da1090;
    box-shadow: #fff 0px 2px 4px;
}

.social-icons i.linkedin:hover {
    background-color: #0a66c2;
    box-shadow: #fff 0px 2px 4px;
}

/* Social Icons CSS End */


/* Sub Pages CSS Start */
.sub-pages span.heading-like {
    color: #FFBB35;
    font-weight: 700;
    font-size: 17px;
}

.sub-pages-content-section {
    background-image: url("../images/sub-pages-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.sub-pages-group {
    margin-bottom: 35px;
    padding: 20px;
    box-shadow: 0px 0px 4px 3px #FFBB35;
    border-radius: 10px;
}

.sub-pages-group:last-child {
    margin-bottom: 0px;
}

.sub-pages-group h3 {
    font-size: 27px;
    margin-bottom: 10px;
    color: #FFBB35;
}

.sub-pages-group h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.sub-pages-group p {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.sub-pages-group ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 17px;
    color: #ffff;
}

.sub-pages-group h3 a {
    color: #FFBB35;
    transition: 0.3s all ease-in-out;
}

.sub-pages-group h3 a:hover {
    color: red;
    transform: translateX(2px);
}

.sub-pages-group p a {
    color: #FFBB35;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s all ease-in-out;
}

.sub-pages-group p a:hover {
    color: blue;
    transform: translateX(2px);
}

.sub-pages-group ul {
    margin: 10px auto;
}

/* Sub Pages CSS End */

/* Other Page CSS Start */ 
 
/* Tournaments Events Page CSS Start */

.tornaments-events-cards-content p {
    color: #fff;
    line-height: 1.1;
}

.tournaments-events-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    box-shadow: #FFBB35 0px 4px 10px, #FFBB35 0px 8px 10px, #FFBB35 0px 5px 10px;
    padding: 20px;
    border-radius: 15px;
}

.tornaments-events-cards-image {
    width: 40%;
}

.tornaments-events-cards-content {
    width: 60%;
    padding: 20px;
}
.tornaments-events-cards-content h3 {
    color: #fff;
    font-size: 30px;
}

.tornaments-events-cards-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.help-us-wrapper p {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
}
/* Accordion CSS Start */
.accordion {
    background-color:#FFBB35;
    border-radius: 0px;
    justify-content: flex-start;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 0fr;
    overflow: hidden;
    transition: grid-template-rows .3s cubic-bezier(.19, 1, .22, 1);
    margin: .75rem 0
}

.accordion .top {
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    padding: .9375rem;
    display: flex;
    position: relative
}

.accordion .top .text {
    font-size: 1.125rem;
    font-weight: 600;
    white-space: wrap;
    color: #ffffff;
}

.accordion .top img {
    width: 1.5rem;
    align-self: flex-start;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
    filter: brightness(0) invert(1);
}

.accordion .top input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    appearance: none;
    width:100%;
    background: none;
}
.accordion .top .text {
    font-size: 1.125rem;
    font-weight: 600;
    white-space: wrap;
    color: #000;
}
.accordion .bottom .text p {
    padding: 10px 0;
}

.accordion .top img {
    width: 1.5rem;
    align-self: flex-start;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
    filter: brightness(0) invert(1);
}

.accordion .top input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    appearance: none;
    width:100%;
    background: none;
}

.accordion .bottom {
    padding-inline: 1.7rem;
    overflow: hidden;
    transition: all .3s cubic-bezier(.19, 1, .22, 1);
    background-color: #fff;
}

.accordion .bottom .text {
    margin-left: 0;
    margin: 0;
    font-size: 1rem;
    color: #000;
}

.accordion:has(input:checked) {
    grid-template-rows: .1fr 1fr
}

.accordion:has(input:checked) .top img {
    transform: rotateZ(45deg)
}
.accordion-wrap {
    margin-top: 3.75rem;
}
.accordion:has(input:checked) {
    grid-template-rows: .1fr 1fr
}

.accordion:has(input:checked) .top img {
    transform: rotateZ(45deg)
}
.accordion-wrap {
    margin-top: 3.75rem;
}
/* Tournaments Events Page CSS Start */
/* Other Page CSS End */

/* Contact Us Page CSS Start */

/* Contact Form CSS Start */
.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-image {
    width: 40%;
    overflow: hidden;
}

.form-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.form-container {
    width: 60%;
    padding: 20px;
    background-image: url("../images/form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0 0 0/50%);
    background-blend-mode: multiply;
}

.form-wrapper {
    height: 100%;
    width: 100%;
}
/* Contact Form CSS End*/



/* Cookies CSS Start */
.wrapper {
    position: fixed;
    bottom: -100%;
    width: 100%;
    background-color: #000;
    padding: 15px 25px 22px;
    transition: all 1s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #FFBB35;
}

.wrapper.show {
    bottom: 0;
}

.info {
    margin-bottom: 15px;
}

.info p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.button {
    width: calc(40% / 2 - 10px);
    padding: 8px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FFBB35;
    color: #000;
    cursor: pointer;
    transition: all 0.7s ease;
    font-weight: 600;
}

.button:hover {
    border-color: #fff;
    background-color: #fff;
}

/* Cookies CSS End */

/* accordion section css start */

/* accordion section css end */





